img.card-img-top {

  max-width: 300px; /* Set your preferred width */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.details-container {
  max-width: 400px; /* Set your preferred width */
  margin: 0 auto; /* Center the container horizontally */
  text-align: center; /* Center the text content inside the container */
}

.centered-buttons {
  /* Optional margin between the buttons */
  margin-top: 20px;

  /* Flexbox properties to center the buttons horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}
